<!DOCTYPE html>
<html>
<head>
	<title>HOME PAGE</title>
</head>
<body>
	<div class="jumbotron">
		<!-- PRENDRE CETTE LIGNE -->
		<a class="btn btn-info" href=<%= new_user_session_path %> >Sign IN - SE CONNECTER</a>
		<a class="btn btn-success" href=<%= new_user_registration_path %> >Sign UP - INSCRIVEZ VOUS</a>
		<!-- ET PRENDRE CETTE LIGNE -->
		<br><br>
		<% if user_signed_in? %>
			<%= link_to "Log OUT", destroy_user_session_path , method: :delete, class: "btn btn-danger" %>
		<% end %>
	</div>

</body>
</html>