<div class="wrapper">
<% if user_signed_in? %>
	
	<h1 class="profile-title">Mon profil</h1>
	
	<div class="container">
	<p><strong> Email: </strong> <%= User.find(current_user.id).email %></p>

	<p>
	<strong>Modifier mes informations : </strong>
	<a class="" href=<%= edit_user_registration_path %> >Editer</a> 
	</p>
	</div> <!-- fin container 1 -->

	<h2>Mes commandes :</h2>
	<div class="container">
			<table class="table">
				<thead>
					<tr>
					<th scope="col">Commande n°</th>
					<th scope="col">Prix total</th>
					</tr>
				</thead>
				<tbody>
					<% if Order.find_by(user_id: @id_user) != nil %>
						<% @order.each do |info| %>
							<tr>
							<td><%= info.id %></td>
							<td><%= info.prix_total %></td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div> <!-- fin container 2 -->
	
	
<!-- Si utilisateur non connecté -->
<% else %>
	<div class="alert alert-danger" role="alert" style="text-align: center;">
		<br>
		Connecte-toi pour voir ton profil !
		<br>
	</div>
<% end %>
</div>