<h1>Bienvenu <%= @user.name%></h1>
<p>Vous vous êtes récemment inscrit sur notre site de e-commerce.
<div id="indent" style="display:flex;justify-content:center;align-items:center;margin-top:15vw;">
   Voici vos identifiants.</br>
  Login: <%= @user.name %></br>
  email: <%= @user.email %></br>
</div>
</p>
