<h1>Hello</h1>

<!-- <% content_for :head do %>
<div class="container">

  <div class="row">

    <div class="col-lg-3">

      <h1 class="my-4">ChatonPix</h1>

      <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
        </div>
        <!-- /.container -->
      </footer> -->
